<div class="d-flex justify-content-center">
  <img src="{{img_url}}" class="img-fluid single-post-img" alt="Responsive image">
</div>
<h1>{{title}}</h1>
<p>By: {{artist_name}}</p>
<p>Dimensions: {{dimension}}</p>
<p>Description: {{description}}</p>
<p>Media: {{media}}</p>
<p><small>posted by: {{user.username}}</small></p>