<div class="container">
  <div class="card mb-12" style="fluid-width: 540px;">
    <div class="row no-gutters">
      <div class="col-md-4">
        {{!-- User Image/Maybe Random Image of Art --}}
        <img src="https://source.unsplash.com/pWkk7iiCoDM/400x300" class="card-img" alt="">
      </div>
      <div class="col-md-8">
        <div class="card-body">
          <h5 class="card-title">{{userMeta.username}}</h5>
          {{#if userMeta.bio}}
            <p class="card-text">Bio: {{userMeta.bio}}</p>
          {{/if}}
          {{#if userMeta.medium}}
            <p class="card-text">Preferred medium: {{userMeta.medium}}</p>
          {{/if}}
          {{#if userMeta.interests}}
            <p class="card-text">Interests: {{userMeta.interests}}</p>
          {{/if}}
          <a href="/dashboard/new" class="btn btn-dark">Upload Work</a>
          <a href="/dashboard/user/{{user_id}}" class="btn btn-dark">Update User</a>
        </div>
      </div>
    </div>
  </div>
</div>

  {{#if posts.length}}

      <h1 class="font-weight-light text-center text-lg-left mt-4 mb-0">Your Work</h1>

      <hr class="mt-2 mb-5">

      <div class="row text-center text-lg-left">
      
        {{#each posts}} 

          <div class="col-lg-3 col-md-4 col-6">
            <a href="/dashboard/edit/{{id}}" class="d-block mb-4 h-100">
              <img class="img-fluid img-thumbnail" src="{{img_url}}" alt="">
            </a>
          </div>
      
        {{/each}}
      </div>{{!-- /.row --}}
    </div>{{!-- /.container --}}
  {{/if}}




